*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
#wrapper{
    width: 970px;
    height: 700px;
    margin: 0px;
    background-color:white;
    color: rgb(171, 187, 177);

    /* Top header */
}
#internetheader {
    width: 930px;
    height: 50px;
    padding: 20px;
    margin: 0px auto;
    background-color: white;
   
}
#internetheader img {
    width: 75px;
    margin: 0px 15px;
    display: inline block;
}
#internetheader h1 {
    margin-left: 100px;
    display: inline-block;
    vertical-align:top;
    color: rgb(59, 54, 54);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:white;
}

/* THe World Wide Web Blue Header */
#www {
    /* width: 970px; */
    height: 60px;
    width: 970px;
    padding-top: 10px;
    background-color: #1b82be; 
    display: inline-block;
   
}
#www h2{
    color: white; 
    margin: 20px;
}
/* Container with all content of significance */
#supermaincontent {
    width: 970px;
    height: 500px;
    background-color:white;
    display: inline-block;
}
#maincontent {
    width: 770px;
    height: 400px;
    background-color: white;
    display: inline-block;
    vertical-align: top;
}
.dnsphone {
    width: 770px;
    height: 60px;
    background-color: white;
    display: inline-block;
    border-bottom: 2px solid black;
}
.dns{
    height: 50px;
    display: inline-block;
}
.dns img{
        width:15px;
        display: inline-block;
}
.dns h3{
    font-size: 10px;
    color: blue;
    display: inline-block;
}
.phone {
    width: 250px;
    display: inline-block;
}
.phone .contact_info{
    font-size: 10px;
    color: rgb(83, 83, 88);
    display: inline;
    width: 180px;
    height: 50px;
    /* margin-left: 580px; */
}
.contact_info{
    width: 180px;
    height: 50px;
    position: absolute;
    right: 100px;
}
.phone img{
    width:25px;
    display: inline;
    position: absolute;
    right: 300px;
    vertical-align: middle;
}
.phone h3{
    color: rgb(20, 153, 241);  
}
/* main_info div */
.main_info {
	padding-top: 10px;
}
.main_info h3	{
	color:#28659d;
}
.main_info h4 {
	font-weight: normal;
}
.main_info h4 span {
	font-weight: 900;
}
.main_info ul {
	margin-left: 50px;
}
.main_info a {
	color: #2ba7ba;
	text-decoration: none;
}
.main_info	img {
	width: 200px;
	margin: 10px auto;
	display: block;
}
.main_info ol {
	margin-left: 50px;
}
.html_css_js {
	margin-top: 20px;
	border-top: 5px #0084df solid;
	border-right: 5px #0084df solid;
	border-left: 5px #0084df solid;

}
.html_css_js img{
	width: 100px;
	display: inline-block;
}
.html_css_js div	{
	display:inline-block;
	width: 580px;
}
/* #bigthree {
    width: 675px;
    height: 100px;
    vertical-align: bottom;
    background-color: #f3f5f7;
    margin-top: 275px;
    margin-left: 70px;
    margin-right: 75px;
    border-top: 4px solid #73a7d5;
    border-left: 4px solid #73a7d5;
    border-right: 4px solid #73a7d5;
} */
#sidebarmain {
    width: 150px;
    height: 300px;
    padding: 20px;
    margin: 0px auto;
    background-color: white; 
    display: inline-block;
}
.sidebartop{
    width: 140px;
    height: 125px;
    display: inline-block;
    background-color:white;
    padding: 5px 5px 5px 5px;
}
.sidebartop p{
    font-size: 10px;
    display: inline-block;
}
.sidebartop span{
        color:#28659d ;
}
.sidebartop button {
	width: 90%;
	padding: 10px 0;
	margin-bottom: 5px;
	border-radius: 10px;
	font-size: 10px;
	color: white;
    font-weight: 900;
}
.sidebartop .blue_btn{
	background-color: #3a74a8;
}
.sidebartop .orange_btn{
	background-color: #ec8c19;
}
.sidebartop p{
    color: black;
}
.sidebartop .red {
	color:red;
}
.sidebarbottom {
    width: 140px;
    height: 190px;
    display: inline-block;
    background-color: #7cadaf;
    background-image: url('./images/ad_background.png');
    background-size: 140px;
	padding-top: 20px;
}
.sidebarbottom h3{
	font-size: 15px;
	text-align: center;
	color: white;
}
.sidebarbottom	img {
	width: 60px;
	display: block;
	margin: 0 auto;
}
.sidebarbottom	button {
	background-color: #3bc7de;
	width: 87%;
	padding: 5px;
	font-size: 16px;
	margin: 0 auto;
	display: block;
}