*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
#wrapper{
    width: 970px;
    height: 700px;
    margin: 0px auto;
    background-color: #cacfd3;
    color: rgb(171, 187, 177);

}
#internetheader {
    width: 930px;
    height: 50px;
    padding: 20px;
    margin: 0px auto;
    background-color: #762472;
   
}
#internetheader img {
    width: 100px;
    margin: 0px 15px;
    display: inline block;
}
#internetheader h1 {
   margin-left: 400px;
    display: inline;
    vertical-align: top;
    color: white;
}
#www {
    width: 970px;
    height: 50px;
    margin: 0px auto;
    background-color: #b2b6b9;
    color: rgb(187, 183, 171);    
}
#sidebarmain {
    width: 150px;
    height: 300px;
    padding: 20px;
    /* margin: 0px auto; */
    background-color: #245876; 
    display: inline-block;
}
#sidebartop{
    width: 150px;
    height: 125px;
    display: inline-block;
    background-color: #76243f;
}
#sidebartop p{
    color: black;
}
#sidebarbottom {
    width: 150px;
    height: 165px;
    display: inline-block;
    background-color: #7cadaf;
    font-weight: normal;
    color: #cbad04;
    padding: 0px 5px;
    border-top: 4px solid #3a3f44;
}
#dnsphone {
    width: 770px;
    height: 50px;
    background-color: #9ed4aa;
    display: inline-block;
    vertical-align: top;


}